# =====================================================================
  HOME NETWORK
# =====================================================================
# =====================================================================
   ENTERPRISE
# =====================================================================
# =====================================================================
   DEFAULT
# =====================================================================
Host *
  ForwardAgent no
  Compression no
  ServerAliveInterval 0
  ServerAliveCountMax 3
  HashKnownHosts no
  UserKnownHostsFile ~/.ssh/known_hosts
  ControlMaster no
  ControlPersist no

  Include config_local



